{% extends 'base.html.twig' %}

{% block title %}Crear Producto{% endblock %}
{% block body %}
    <div class="container">
        <div class="mb-3 mt-3">
            <h2 class="text-success text-lg-center">Registro de Producto</h2>
        </div>
        {{ form(form_create_product) }}
        <!--
        <div class="mb-3 mt-3">
            <h2 class="text-success text-lg-center">REGISTRO DE PRODUCTO</h2>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="123456789">
            <label>Código del Producto</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Ej. Cemento bulto 50Kg">
            <label>Descripción</label>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="1.000">
                    <label>Precio de Compra</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" value="0">
                    <label>Porcentaje de Impuesto IVA</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="">
                    <label>Precio de Venta</label>
                </div>
            </div>
        </div>
        -->
    </div>
{% endblock %}
