{% extends 'base.html.twig' %}

{% block title %}Crear Proveedor{% endblock %}

{% block body %}
    <div class="container">
        <div class="mb-3 mt-3">
            <h2 class="text-success text-lg-center">Registro de Proveedor</h2>
        </div>
        {{ form(form_create_provider) }}
    </div>
{% endblock %}
